*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 735px;
    align-items: center;

}

.potfolio{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    justify-content: center;

    gap: 20px;
}

img{
    width: 30%;
    height: 300px;
 
}